name: CI/CD Pipeline
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ github.sha }}

      - name: Update GitOps repository
        shell: powershell
        env:
          GIT_TOKEN: ${{ secrets.GITOPS_PAT }}
        run: |
          # 1. Cleanup any old folder
          if (Test-Path gitops) { Remove-Item -Recurse -Force gitops }

          # 2. Clone the GitOps repo using the token for authentication
          git clone "https://ahmed-marzook:$($env:GIT_TOKEN)@github.com/ahmed-marzook/grade-api-gitops.git" gitops
          cd gitops

          # 3. Update the image tag in deployment.yaml
          $targetImage = "ghcr.io/${{ github.repository }}:${{ github.sha }}"
          $filePath = "deployment.yaml"
          (Get-Content $filePath) -replace 'image: ghcr.io/${{ github.repository }}:.*', "image: $targetImage" | Set-Content $filePath

          # 4. Configure Git, Commit and Push
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add deployment.yaml
          git commit -m "Update image to ${{ github.sha }}"
          git push origin main
